
#warp {
    min-width: 1200px;
}

#header{
    min-width: 1200px;
    position: relative;
    width: 100%;
    height: 166px;
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    z-index: 999;
}
#header .header_warp{
    position: relative;
    width: 100%;
    height: 165px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 2;
}
#header .header_inner{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 0 0;
    z-index: 2;
}
#header .header_mini_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 11;
}
#header .header_mini_inner{
    position: relative;
    width: 100%;
    height: 40px;
}
#header .header_mini_nav h2 a {
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
    display: block;
}