
#warp {
    min-width: 1200px;
}

#header{
    min-width: 1200px;
    position: relative;
    width: 100%;
    height: 166px;
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    z-index: 999;
}
#header .header_warp{
    position: relative;
    width: 100%;
    height: 165px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 2;
}