
#warp {
    min-width: 1200px;
}

#header{
    min-width: 1200px;
    position: relative;
    width: 100%;
    height: 166px;
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    z-index: 999;
}
#header .header_warp{
    position: relative;
    width: 100%;
    height: 165px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 2;
}
#header .header_inner{
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0 0 0;
    z-index: 2;
}
#header .header_mini_inner{
    position: relative;
    width: 100%;
    height: 40px;
}
#header .header_mini_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 11;
}
#header .header_mini_nav h2{
    position: absolute;
    left: 0;
    top: 7px;
    width: 234px;
    height: 56px;
    background: url(https://lh3.googleusercontent.com/uemQ8vUvUhIdvg_XaOGwLYKzhpg5fI09AkcgIChEY5TdSbXzF3XX1Yx4yDPUxzP-9M49tENZHTJJJXnAp3V88rXCYeJn_yh3LuB_ceGi_PJeH4vyRbZRucae9HpwDD76GiP2wXQVBne8DQJi3ivONNonvjvvjxxmPqS2uRTmSH8pW6zm-NLFkgr7ez7OzJoAdOAAYaa3XsqiYUettjCWrZhzGoD4s0WLkA9umMxxbaFWTAgHJ0y_tpQMViMNoZCHyfoAsjb9Zu6wbar8EbDcLzB7_SvBZDBbVR6iZtshsLq1WV6kaIVhuwnth46ah1SBt0GqvxQbJ4Pn0GDOeUNika3m2coaLhWL2SCzdnQJAEYPcU2eGYbXJIoHNFnzA-VbCTZlNipOb7ORtjkXybrkDSvmodWqr_RtG3-UVj1Wovd-neql_ktWHpmQFyzPC6xGmqG2KhiMY31FH1JusTIrzOpPWsnkZ-ec2FZ-gNxrt96IHnQ2T4tQ2iBKY87db4ktq51B3zsliKLLWmxVvbPrKi-iOxAsfNZ9AkZYYNkp6T6Y3p65fq7UgJp8LNNqNR-Gyn6KK4PsRjhmCz8qTbGpe-ee1wAQya-sbHEPncopZYn_HS92lllGQSl8T4XG8LksvbxXN7S_RCYBnJAOlWzJb7fd3ilBaPHhppBauL6iund4hLbXUf4jg5JpbViF=w234-h56-no?authuser=1) no-repeat left center;
    display: block;
}
#header .header_mini_nav h2 a{
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
    display: block;
}
#header .header_mini_left{
    position: absolute;
    left: 61px;
    top: 4px;
}
#header .header_mini_right{
    position: absolute;
    left: 61px;
    top: 4px;
}
#header .header_ch_nav{
    position: relative;
    width: 100%;
    height: 125px;
}
#header .header_ch_nav .header_ch_heading{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 72px;
    text-align: center;
}
#header .header_ch_nav .header_ch_heading h1{
    margin: 0;
    height: 72px;
    line-height: 72px;
    display: inline;
}
#header .header_ch_nav .header_ch_heading h1 a{
    position: relative;
    top: -8px;
    height: 72px;
    width: 160px;
    line-height: 72px;
    display: inline-block;
}
#header .header_ch_nav .header_ch_gnb{
    padding: 71px 100px 0 0;
}
#header .header_ch_nav .header_ch_gnb ul li{
    position: relative;
    float: left;
}
